
/***TOP CONTAINER***/
.body {
  background-color: #778899;
}
h1 {
  background-color: #778899;
  text-align: center;
  font-family: 'Zen Dots', cursive;
  font-size: 5.62rem;
  color: #eeebdd;
}
@media (max-width: 600px){
h1{
  font-size: 4rem;
}
}

h2 {
  background-color: #778899;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ce1212;
  font-size: 2.5rem;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center; 
}
@media (max-width:800px){
  h2 {
    font-size: 1.5rem;
    margin-left: 50px;
    margin-right: 50px;
  }
}


h3 {
  font-family: 'Montserrat', sans-serif;
  color: #eeebdd;
  font-size: 1.5rem;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  backdrop-filter: brightness(30%);
  border-radius: 10px 100px / 120px;
}

a:hover {
  color: #eaf6f6;
}

.top-container{
  background-image: url("background-image.jpg");
  background-size: 100%;
  height:1000px;
}

@media (max-width: 800px){
  .top-container{
    height: 1100px;
  }
}
@media (max-width: 600px){
  .top-container{
    height: 950px;
  }
}
.profile-pic {
  width: 20%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
@media (max-width: 800px){
  .profile-pic {
    width:50%;
    padding-bottom: 50px;
  }
}

/**** Website Design Container ****/

.wd-container {
  background-color:#FFAE00;
  position: relative;
  margin: 20px 0;
  border-radius: 50% / 10%;
  color: black;
}

@media (max-width:800px){
  .wd-container {
    text-align: center;
  }
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding: 50px 0px 15px 20px;
}

.wd-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 50px;
  padding-bottom: 50px;
}

 @media (max-width:800px){ 
   .wd-cards { 
    display: block; 
     padding-left: 25%; 
     padding-right: 25%; 
   } 
} 
.wd-card1 {
  text-align: center;
  padding-top: 50px;
}
.wd-card2 {
  text-align: center;
  padding-top: 50px;
}
.wd-card3 {
  text-align: center;
  padding-top: 50px;
}

/***  Web Apps Development Container ***/

.wa-container {
  background-image: url(istockphoto-1263227499-612x612.jpg);
  position: relative;
  margin: 20px 0;
  border-radius: 50% / 10%;
  color: black;
}
@media (max-width:800px) {
  .wa-container {
    text-align: center;
  }
  
}
.wa-frames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width:800px){ 
  .wa-frames { 
   display: block; 
    padding-left: 25%; 
    padding-right: 25%; 
  } 
} 

/* .wa-frame1 {
  padding-left: 50px;
} */
.wa-fig-cap {
  text-align: center;
}

/*** Games development Container ***/

.game-container{
  background-color: #000000;
  color: #EAF6F6;
}
.game-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width:800px){

  .game-cards {
    display: block;
    padding-left: 25%;
    padding-right: 25%;    
  }
}

.game-card1 {
  padding-bottom: 50px;
}

.game-card2 {
  padding-bottom: 50px;
}

.game-card3 {
  padding-bottom: 50px;
}

.heads-up{
  color: #ce1212;
  background-image: url(istockphoto-1263227499-612x612.jpg);
  height: 30px;
}



/***CONTACT CONTAINER***/

.contact-container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.btn {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFAE00;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 21px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}

.BUTTON_ZKW:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}



/*** bottom container ***/


.footer-link {
  color: #ce1212;
  padding: 20px;
}
.bottom-container {
  background-color: #1b1717;
  padding: 50px 0 20px;
  text-align: center;
}
.copy-right {
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;
}

