h1 {
    background-color: lightslategray;
    text-align: center;
    font-family: 'Zen Dots', cursive;
    font-size: 5.62rem;
    color: #eeebdd;
}
@media (max-width: 600px){
  h1{
    font-size: 4rem;
  }
}
h2 {
    background-color: lightslategray;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ce1212;
    font-size: 2.5rem;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center; 
  }
  @media (max-width:800px){

    h2 {
      font-size: 1.5rem;
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .top-container{

    background-image: url("20220721_150912 - Copy.jpg");
    height:900px;
    
  }
  @media (max-width: 800px){
    .top-container{
      height: 1100px;
    }
  }

  .profile-pic {
    width: 20%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  @media (max-width: 800px){
    .profile-pic {
      width:50%;
      padding-bottom: 50px;
    }
  }
  h3 {
    background-color: lightslategray;
    font-family: 'Montserrat', sans-serif;
    color: #eeebdd;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center; 
   
    
  }
  a:hover {
    color: #eaf6f6;
  }
  